include utils.pug
+validationErrorSummary(errors)
form(action="/chores/create", method="post" class="chore-form")
  +field("Chore Name", "choreName", chore.choreName)(placeholder="Name your chore!")
  +field("Point Value", "value", chore.value, "number")(placeholder="ex. 100")
  label(for="note") Note
  textarea(id="note", name="note", cols="30", rows="10", placeholder="Add some more details about your chore here...")
  +field("Due Date", "dueDate", chore.dueDate, "text")(placeholder="ex. 2020-01-01")
  select(name='choreTypeId')
    option(value=1) Household
    option(value=2) Work
    option(value=3) Errand
    option(value=4) Other
  select(name='listId')
    each listItem in lists
      option(value=listItem.id) #{listItem.listName}
  button(type="submit") Create Chore
