div(class="dashboard-grid-container__dashboard-column-3 columns")
    include add-chore.pug
    //- if chore
    //-     select(id="dashboard-column-3__add-to-list")
    //-         each list in lists
    //-             option(value=list)=list
    //-             (add an event listener to each option)
    //-     div(class="dashboard-column-3__notes")
    //-         form
    //-             label(for="notes") Notes:
    //-             textarea(id="notes" name="notes" rows="5" cols="33" value="user.notes")
    //-             button(type="submit") Save
    //-     h2 Point Value:
    //-     h2 50
    //-     button(type="button" id="complete-chore")
    
