include utils.pug
div(class="dashboard-grid-container__dashboard-column-3 columns")
    button(class="chore-info__edit hidden") Edit
    div(class="chore__buttons-container hidden")
        button(class="chore__save") Save
        button(class="chore__cancel") Cancel
    div(class="chore-info__container")
    div(class="chore-info__edit-form")
        include edit-chore-form.pug
    






    
    
