include utils.pug
div(class="columns dashboard-col-3__container")
    div(class="chore-info__edit-container hidden") 
    div(class="chore__buttons-container hidden")
    div(class="chore-info__container")
    div(class="chore-info__edit-form")
        include edit-chore-form.pug
 



