extends layout.pug

block append head
    link(rel="stylesheet" href="/stylesheets/dashboard.css")
    script(src="/javascripts/dashboard.js" type="module" defer)
    script(src="/javascripts/fetchLists.js" type="module" defer)
    script(src="/javascripts/refreshDashboard.js" type="module" defer)
    script(src="/javascripts/submitList.js" type="module" defer)

block content
    div(class="dashboard-grid-container")
        div(class="dashboard-grid-container__dashboard-column-1 columns")
            div(class="dashboard-column-1__logo")
                img(src="https://i.imgur.com/6YO4cEd.png")
            div(class="dashboard-column-1__user-name")
                h2 Hello, #{user.userName}!
                p Current Points:
                p= user.points
            div(class="dashboard-column-1__unassigned-tasks")
                h3 Unassigned Tasks
            div(class="dashboard-column-1__individual-items")
            div(class="dashboard-column-1__add-list")
                form(method="post" action="/lists/create" name="lists" class="list-form")
                    input(name="listName" type="text" placeholder="Add new list..." value=listName id="listName")
                    button(type="submit" id="create-list") Create List
            h3 Lists
            div(class="dashboard-column-1__lists" id="list-items")
            div(class="dashboard-column-1__rewards")
                h3 Rewards
                p Rewards here
                //- each reward in rewards
                //-     div(class="dashboard-column-1__reward-item")
        div(class="dashboard-grid-container__dashboard-column-2 columns chore-container")
            div(class="dashboard-column-2__chore-items")
            p Everything here is Ajax
        div(class="dashboard-grid-container__dashboard-column-3 columns")
            include includes/add-chore.pug
            //- if chore
            //-     select(id="dashboard-column-3__add-to-list")
            //-         each list in lists
            //-             option(value=list)=list
            //-             (add an event listener to each option)
            //-     div(class="dashboard-column-3__notes")
            //-         form
            //-             label(for="notes") Notes:
            //-             textarea(id="notes" name="notes" rows="5" cols="33" value="user.notes")
            //-             button(type="submit") Save
            //-     h2 Point Value:
            //-     h2 50
            //-     button(type="button" id="complete-chore")
