extends layout
block content
  if err
    p= err.message
  div(class="home__container")
    div(class="home__col-1")
      div(class="home__logo")
        img(src="https://i.imgur.com/6YO4cEd.png")
    div(class="home__col-2")
      h1(class="home__welcome") Welcome to ChoreScore!
      p(class="home__description") Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolores repellat ea mollitia! In, illo. Quam deleniti, excepturi velit deserunt ducimus eos quia ea dignissimos aliquid. Commodi, similique! Deserunt, voluptate porro!
