doctype html
html
  head
    block head
      title= title
      link(rel='stylesheet' href='/stylesheets/reset.css')
      link(rel="stylesheet" href="/stylesheets/index.css")
      link(rel='stylesheet' href='/stylesheets/nav.css')
      link(rel='stylesheet' href='/stylesheets/home.css')
      link(rel='stylesheet' href='/stylesheets/auth.css')
      link(rel='stylesheet' href='/stylesheets/sidebars.css')
      link(rel='stylesheet' href='/stylesheets/modal.css')
      meta(name="image" property="og:image" content="../public/landing-page.png")
      meta(
        name="description" 
        property="og:description" 
        content="A Remember the Milk clone made to assist users in completing their chores with a to-do like system."
      )
      script(src="/javascripts/index.js" type="module" defer)
      script(src="https://kit.fontawesome.com/cdee5c174e.js" crossorigin="anonymous")
  body
    include nav.pug

block content
