doctype html
html
  head
    block head
      title= title
      link(rel='stylesheet' href='/stylesheets/reset.css')
      link(rel="stylesheet" href="/stylesheets/index.css")
      link(rel='stylesheet' href='/stylesheets/nav.css')
      link(rel='stylesheet' href='/stylesheets/home.css')
      link(rel='stylesheet' href='/stylesheets/auth.css')
      link(rel='stylesheet' href='/stylesheets/sidebars.css')
      link(rel='stylesheet' href='/stylesheets/modal.css')
      link(rel='stylesheet' href='/stylesheets/footer.css')
      <title>ChoreScore</title>
      <meta name="title" content="ChoreScore">
      <meta name="description" content="A Remember the Milk clone made to assist users in completing their chores with a to-do like system.">

      <!-- Open Graph / Facebook -->
      <meta property="og:type" content="website">
      <meta property="og:url" content="https://chorescore2020.herokuapp.com/">
      <meta property="og:title" content="ChoreScore">
      <meta property="og:description" content="A Remember the Milk clone made to assist users in completing their chores with a to-do like system.">
      <meta property="og:image" content="../public/landing-page.png">

      <!-- Twitter -->
      <meta property="twitter:card" content="summary_large_image">
      <meta property="twitter:url" content="https://chorescore2020.herokuapp.com/">
      <meta property="twitter:title" content="ChoreScore">
      <meta property="twitter:description" content="A Remember the Milk clone made to assist users in completing their chores with a to-do like system.">
      <meta property="twitter:image" content="../public/landing-page.png">
            script(src="/javascripts/index.js" type="module" defer)
            script(src="https://kit.fontawesome.com/cdee5c174e.js" crossorigin="anonymous")
  body
    include nav.pug

    block content

  block footer
      block footer
        <div id="footer-bar">
          <div class="footer ahdari">
            <h3>Chad Calcote</h3>
            <a href="https://www.linkedin.com/in/chadcalcote/" ><i class="fab fa-linkedin"></i></a>
            <a href="mailto:calcote@att.net" ><i class="fas fa-envelope"></i></a>
            <a href="https://github.com/chadcalcote" ><i class="fab fa-github"></i></a>
          </div>
          <div class="footer chris">
            <h3>Kimi Zou</h3>
            <a href="https://www.linkedin.com/in/kimizou/" ><i class="fab fa-linkedin"></i></a>
            <a href="mailto:kimizou.kz@gmail.com" ><i class="fas fa-envelope"></i></a>
            <a href="https://github.com/kimi-zou" ><i class="fab fa-github"></i></a>
          </div>
          <div class="footer elyse">
            <h3>Rihana Martinson</h3>
            <a href="https://www.linkedin.com/in/rihanamartinson/" ><i class="fab fa-linkedin"></i></a>
            <a href="mailto:martinson.r@gmail.com" ><i class="fas fa-envelope"></i></a>
            <a href="https://github.com/martinson-r" ><i class="fab fa-github"></i></a>
          </div>
          <div class="footer samuel">
            <h3>Seth Witfoth</h3>
            <a href="https://www.linkedin.com/in/seth-witfoth/" ><i class="fab fa-linkedin"></i></a>
            <a href="mailto:switfoth@gmail.com" ><i class="fas fa-envelope"></i></a>
            <a href="https://github.com/switfoth" ><i class="fab fa-github"></i></a>
          </div>
        </div>



