doctype html
html
  head
      block head
        title="ChoreScore"
        link(rel='stylesheet' href='/stylesheets/reset.css')
        //- add page specific styles by appending to the head
        link(rel="stylesheet" href="/stylesheets/index.css")
        //- add navbar styling
        link(rel='stylesheet' href='/stylesheets/navbar.css')
        //- add page specific js
        script(src="/javascripts/index.js" type="module" defer)
        //- import fontawesome
        script(src="https://kit.fontawesome.com/cdee5c174e.js" crossorigin="anonymous")
  body
    nav(class="nav grid-container")
      a(href='/' class="nav__homepage") ChoreScore
      if locals.authenticated
        div(class="nav__searchbar")
          span(class="fas fa-search fa-lg searchbar__icon")
          input(type="text" placeholder="Find a Chore!" class="searchbar__textbox")
        div(class="nav__buttons")
          a(href='/dashboard') Dashboard
        div(class="nav__buttons")
          a(href='/users/account') Account
        button(type="submit" class="nav__logout-button nav__buttons") Logout
      else
        div(class="nav__blank")
        div(class="nav__blank")
        div(class="nav__buttons")
          a(href='/users/signup') Signup
        div(class="nav__buttons")
          a(href='/users/login') Login
        

block content
