doctype html
html
  head
      block head
        title="ChoreScore"
        link(rel='stylesheet' href='/stylesheets/reset.css')
        //- add page specific styles by appending to the head
        link(rel="stylesheet" href="/stylesheets/index.css")
        //- add navbar styling
        link(rel='stylesheet' href='/stylesheets/navbar.css')
        //- add page specific js
        script(src="/javascripts/index.js" type="module" defer)
        //- import fontawesome
        script(src="https://kit.fontawesome.com/cdee5c174e.js" crossorigin="anonymous")
      //- block head-content
  body
    nav(class="nav-element")
      div(id="session-controls" class="nav-element__navbar-div grid-container")
        a(href='/' class="nav-element__homepage-link") ChoreScore
        if locals.authenticated
          div(class="navbar-div__searchbar-div")
            span(class="fas fa-search")
            input(type="text" placeholder="Find a Chore!" class= "searchbar-div__textbox")
          div(class="navbar-div__button")
            a(href='/dashboard' class="navbar-div__dashboard-link navbar-div__button") Dashboard
          div(class="navbar-div__button")
            a(href='/users/account' class="navbar-div__account-link navbar-div__button") Account
          button(type="submit" id="logout-button" class="navbar-div__logout-button") Logout
        else
          div(class="navbar-div__blank")
          div(class="navbar-div__button")
            a(href='/users/signup' class="navbar-div__signup-link navbar-div__button") Signup
          div(class="navbar-div__button")
            a(href='/users/login' class="navbar-div__login-link navbar-div__button") Login
          div(class="navbar-div__blank")

block content
