doctype html
html
  head
      block head
        title="Express Starter App"
        link(rel='stylesheet' href='/stylesheets/reset.css')
        //- add page specific styles by appending to the head
        link(rel="stylesheet" href="/stylesheets/index.css")
        //- add page specific js
        script(src="/javascripts/index.js" type="module" defer)
  body
    nav
      a(href='/') ChoreScore
      div(id="session-controls")
        if locals.authenticated
          button(type="submit" id="logout-button") Logout
          a(href='/users/account') Account
          a(href='/users/rewards') Rewards
          a(href='/dashboard') Dashboard
        else
          a(href='/users/signup') Signup
          a(href='/users/login') Login

    block content
