extends layout.pug
include includes/utils.pug
block content
    +validationErrorSummary(errors)
    form(action="/users/login", method="post")
            input(type="hidden", name="_csrf", value=csrfToken)
            +field("User Name", "userName")
            +field("Password", "password", "", "password")
            div
                button(type="submit") Log In
                a(href="/") Cancel
