extends layout.pug
include includes/utils.pug
block content
    div(class="auth__grid-container")
        div(class="auth__col-1")
            h2(class="auth__title") Log In
            +validationErrorSummary(errors)
            form(action="/users/login", method="post", class="auth__form")
                input(type="hidden", name="_csrf", value=csrfToken)
                +authField("auth__username", "User Name", "userName")
                +authField("auth__password", "Password", "password", "", "password")
                div(class="auth__button-div")
                    button(class="auth__buttons", type="submit") Log In
                    a(class="auth__buttons", href="/users/signup") Sign Up
        div(class="auth__col-2")
            h1(class="auth__slogan") Be The Champion of Chores!
            div(class="auth__image")
                div(class="auth__image-placeholder")
                //- img(src="")
            h3(class="auth__message") Keep track of chores and reward yourself for completing them.
