extends layout.pug
include includes/utils.pug
block content
    body
        +validationErrorSummary(errors)
        form(action="/users/signup", method="post")
            input(type="hidden", name="_csrf", value=csrfToken)
            +field("User Name", "userName", user.userName)
            +field("Email-Address", "email", user.email)
            +field("Password", "password", user.password, "password")
            +field("Confirm Password", "confirmPassword", "", "password")
            div
                button(type="submit") Sign Up!
                a(href="/") Cancel
