/* structure */
.auth__container {
  display: grid;
  grid-template-columns: 38% 62%;
  height: 88vh;
}

/*--------left---------*/
.auth__left {
  display: flex;
  flex-direction: column;
  padding: 100px 120px 0 180px;
}

.auth__title {
  text-align: center;
  font-weight: 600;
}

/* auth form */
.auth__form {
  display: flex;
  flex-direction: column;
}

.auth__username,
.auth__password,
.auth__email {
  display: flex;
  flex-direction: column;
  margin: 8px 0;
}

.auth-form__label {
  margin-bottom: 4px;
}

.auth-form__input {
  height: 35px;
  border: solid 1px #e7e7e7;
  padding-left: 15px;
  border-radius: 6px;
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
}

.auth-form__input:hover,
.auth-form__input:focus {
  background-color:#e7e7e7;;
}

/* auth buttons */
.auth__buttons-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.auth__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 48%;
  margin: 10px 0 0 0;
  background-color: #BD9076;
  border: none;
  border-radius: 6px;
  color: white;
  font-size: 16px;
}

.auth__buttons:hover {
  background-color: #f78c4f;
  cursor: pointer;
}

/*--------right---------*/
.auth__right {
  background-color: #C7E6EA;
  text-align: center;
  padding: 50px 180px 0 100px;
}

.auth__slogan {
  font-family: 'Iceberg', cursive;
  font-size: 36px;
  color: #1a1a1a;
  margin-bottom: 15px;
}

.auth__image img{
  height: 60vh;
}

.auth__message {
  margin-top: 15px;
}
