/* structure */
.dashboard-col-3__container{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fbdac6;
}

/* ------  buttons  ------ */
.chore-info__edit, 
.chore__save {
width: 60px;
background-color: #BD9076;
}

.chore-info__edit:hover, 
.chore__save:hover {
  background-color: #f78c4f;
}

.chore-info__edit {
  margin-bottom: 10px;
}

/* ------  chore info container  ------ */
.chore-info__container,
.chore-info__edit-form {
  display: flex;
  flex-direction: column;
  width: 80%;
}

/* ------  individual info container  ------ */
.chore__name,
.chore__due,
.chore__list,
.chore__type {
  display: flex;
  margin: 5px 0;
}

.chore__note,
.chore__point {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}


/* ------  Individual info label  ------ */
.name__label,
.due__label,
.list__label,
.type__label {
  margin-right: 30px;
  padding: 5px 0;
  width: 20px;
}

.note__label,
.point__label {
  margin-bottom: 5px;
}

/* ------  individual info data  ------ */
.name__info,
.due__info,
.list__info,
.type__info{
  background-color: white;
  border-radius: 3px;
  padding: 5px;
  width: 90%;
}

.note__info {
  background-color: white;
  border-radius: 3px;
  width: 100%;
  height: 100px;
  padding: 12px;
}

.point__info {
  font-size: 36px;
  font-weight: 500;
}

.hidden {
  display: none;
}
