.dashboard-grid-container{
    display: grid;
    grid-template-columns: 25% 50% 25%;
    justify-content: stretch;
    align-content: stretch;
    height: 100vh;
}

.columns {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.dashboard-grid-container__dashboard-column-1{
    background-color: #C7E6EA;
}

.dashboard-grid-container__dashboard-column-2{
    background-color: white;
}

.dashboard-grid-container__dashboard-column-3{
    background-color: #C7E6EA;
}

.dashboard-column-1__logo {
    margin: 0 auto;
}

.dashboard-column-1__logo img {
    width: 200px;
    height: 200px;
}

.dashboard-column-1__user-name {
    text-align: center;
}
