/* structure */
.home__container {
  display: flex;
  background-color: #fbdac6;
  height: 88vh;
  padding: 0 120px;
}

/* ------left------ */
.home__left {
  display: flex;
  width: 50%;
  height: 100%;
  padding-top: 80px;
}

/* logo */
.home__logo {
  width: 470px;
  height: 470px;
  background: lightblue;
  border-radius: 50%;
  border: 15px solid #BD9076;
}

.home__logo img {
  width: 470px;
  height: 470px;
}

/* ------right------ */
.home__right {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-top: 150px;
}

/* welcome message */
.home__welcome {
  font-size: 45px;
  color: #754326;
  text-align: center;
}

.home__description {
  width: 380px;
  font-family: "Proza Libre", cursive;
  color: #754326;
  text-align: center;
  align-self: center;
}

.home__right form {
  align-self: center;
}

/* button */
.home__button {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 160px;
  background-color: #BD9076;
  border: none;
  border-radius: 6px;
  margin-top: 34px;
  font-size: 16px;
  color: white;
}

.home__button:hover {
  cursor: pointer;
  background-color: #f78c4f;
}