.modal {
    display: block;
    width: 60%;
    height: 75%;
    left: 50%;
    top: 100px;
    transform: translate(-50%, 0%);
    position: absolute;
    background-image: linear-gradient(#C7E6EA,#62AAB3);
    padding: 10px;
    border: 2px solid #e7e7e7;
    border-radius: 6px;
    z-index: 2;
}

.modal__close {
    width: 100%;
    text-align: right;
    margin: 0;
    padding: 0;
}

.hidden {
    display:none;
}

.chore-form {
    margin-left: 400px;
}