.modal {
    display: flex;
    width: 60%;
    height: 75%;
    left: 50%;
    top: 100px;
    transform: translate(-50%, 0%);
    position: absolute;
    background-image: linear-gradient(#C7E6EA,#62AAB3);
    padding: 10px;
    border: 2px solid hsl(0, 0%, 91%);
    border-radius: 6px;
    z-index: 2;
}

.chore-form {
    align-self: center;
    justify-self: center;
}

.modal__close {
    width: 100%;
    text-align: right;
    margin: 0;
    padding: 0;
    cursor: pointer;
}


.hidden {
    display:none;
}

.chore-form {
    margin-left: 400px;
}