/* nav grid structure */
.grid-container {
    display: grid;
    grid-template-columns: 25% auto repeat(3, 11.5%) 30px;
    align-items: center;
    background-color: #62AAB3;
    color: white;
    height: 80px;
}

/* ChoreScore logo */
.nav__homepage {
    margin-left: 30px;
    font-family: 'Iceberg', cursive;
    font-size: 36px;
}

/* Search box */
.nav__searchbar {
    display: grid;
    grid-template-columns: 7% 60% auto;
    align-items: center;
}

.searchbar__icon:hover {
    cursor: pointer;
}

.searchbar__textbox {
    height: 35px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    padding-left: 6%;
}

/* Nav buttons */
.nav__buttons {
    background-color: #BD9076;
    border: none;
    border-radius: 6px;
    height: 35px;
    width: 150px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.nav__logout-button:hover {
    cursor: pointer;
}
